h1 {
	text-align: center;
  }
  
  div.a {
	text-align: center;
	font-size: 20px;
  }
  
  a.button {
	background-color: #4CAF50; /* Green background */
	border: 1px solid green; /* Green border */
	text-decoration: none;
	font-size:13.5px;
	color: white; /* White text */
	padding: 13px 30px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left;  /*Float the buttons side by side */
  }
  
  /* Clear floats */
  .btn-group:after {
	content: "";
	clear: both;
	display: table;
  }
  
  .btn-group button:not(:last-child) {
	border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
	background-color: #3e8e41;
  }
  /*places button in BOTTOM center of screen*/
  .center {
	margin: 0;
	position: absolute;
	top: 75%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
  /*places button on the upper right side of screen*/
  .rightSide{
	margin: 0;
	position: absolute;
	top: 35%;
	left: 75%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
  /*places button on upper left side of screen*/
  .leftSide{
	margin: 0;
	position: absolute;
	top: 35%;
	left: 25%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
.schedBorder{
	outline-style:solid;
	outline-color: black;
	outline-width: 3px;
	padding: 10px 25px 0px 25px;
	text-align:center;
}
/****Navigation Bar*****/
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color:none;
}

/*Style for font, a tags, button*/

header {
	display: flex;
	justify-content: space-around; /*pushes the far-left and far-right items to the edges*/
	align-items: center; /*center everything in the middle*/
	padding: 15px 5%;
	background-color: lightslategray;
	
}
.logo{
	cursor: pointer;
}
.NavButton{
	display: inline-block; /*go side by side instead of top down*/
	padding: 08px 20px;
	border-radius: 50px;
	background-color: rgb(223, 211, 211);
	cursor: pointer
}

.button0{
	padding: 9px 25px;
	background-color: darkgray;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
.button0:hover{
	background-color: rgb(138, 135, 135);
}
table.userCreationTable {
	margin-top: 25px; 
	margin-left: auto;
	margin-right: auto;
	
	border-style: solid;
	border-color: black;
	padding: 5px;
	background-color: #C2C0C0;
}
.inputBox {
	background-color: #F5F4F4;
	color: #969595;
}
.required {
	color: red;
}