/*********************** Style sheet for tables (used in Schedule Gen Page so far) ***********************/

.center {
    text-align: center;
}

/* The 3 classes below formats footer */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f1f1f1;
  }
  .wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }
  .footer3,
  .push {
    margin-top: 20px;
    height: 50px;
  }


/* Make tables collapsible */
.collapsible {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 1%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #C7AA93;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }


  /* Style tables */
  .inside-table {
    margin-right: 15%;
    margin-left: 15%;
}

  table {
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2;}
  
  tr:hover {background-color: #ddd;}
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7E6048;
    color: white;
  }